#C/C++ files

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Dirs
Debug/
Release/
glm/

#Project files
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vsp
*.psess
*.v11.suo
*.pdb
*.ilk
*.exe

#Java/eclipse files
*.jar
*.metadata
*.class
*.project
*.classpath
*.settings/
log.txt

#Other
*.zip
*.png
